
<!--<div class="navbar navbar-inverse navbar-fixed-left">
  <a class="navbar-brand" href="">Brand</a>
  <ul class="nav navbar-nav">


<div class="list-group">
  <button type="button" class="list-group-item" (click)="btnClick();"><span class="glyphicon glyphicon-user">User Management</span></button>
  <button type="button" class="list-group-item"><span class="glyphicon glyphicon-list-alt" (click)=btnCat();>Category Management</span></button>
  <button type="button" class="list-group-item"><span class="glyphicon glyphicon-dashboard" (click)=btnGrp();>Group Management</span></button>
  <button type="button" class="list-group-item"><span class="glyphicon glyphicon-list-alt" (click)=btnEvt();>Event Management</span></button>
  <button type="button" class="list-group-item"><span class="glyphicon glyphicon-list-alt" (click)=btnTmplt();>Template Management</span></button>
</div>

  </ul>

 </div>-->




<nav class="navbar navbar-inverse sidebar" role="navigation">
    <div class="container-fluid" >
		<!-- Collect the nav links, forms, and other content for toggling -->

    
		<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a (click)="btnClick();">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
				<li ><a >Profile<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
				<li ><a >Messages<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li>
				<li><a >Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
				<li ><a >Profile<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
				<li ><a >Messages<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li>
			</ul>
		</div>
	</div>
</nav>
