<!--<table [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5" (mfSelectedEntities)="setSelectedEntities($event)">
    <thead>
        <tr>
            <th>
                <mfRowSelectorHead></mfRowSelectorHead>
            </th>
            <th style="width: 20%">
                <mfDefaultSorter by="name">Name</mfDefaultSorter>
            </th>
            <th style="width: 50%">
                <mfDefaultSorter by="email">Email</mfDefaultSorter>
            </th>
            <th style="width: 10%">
                <mfDefaultSorter by="age">Age</mfDefaultSorter>
            </th>
            <th style="width: 20%">
                <mfDefaultSorter by="city">City</mfDefaultSorter>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of mf.data; let ndx = index">
            <td><mfRowSelector [entity]="item" [checkboxId]="ndx"></mfRowSelector></td>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.age}}</td>
            <td>{{item.city | uppercase}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
        </tr>
    </tfoot>
</table>-->
<app-pagetop>
</app-pagetop>
<app-side-bar></app-side-bar>

<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading"><b>Event Management</b></div>
        <!--<table class="table table-condensed">-->
        <table class="table">
          <thead>
            <tr>
              <th> ID</th>
              <th>Caption</th>
              <th>Icon</th>
              <th>Message</th>
              <th>Status</th>
              <th>Event</th>
              <th></th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td></td>
              <td>Doe</td>
              <td>Active</td>
              <td>Doe</td>
              <th><button id="btnUser" class="btn btn-primary" (click)="lgModal.show()">Images</button>
                <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <!--<div class="modal-header">-->
                      <!--<h4 class="modal-title pull-left">Add New User</h4>-->
                      <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                      <!--</div>-->
                      <div class="modal-body">

                        <div class="jumbotron">
                          <b>Add New User Form</b>
                          <!-- Here we are declaring a local variable called “form” and setting it to an instance of ngForm. This is very important. Now our local form variable becomes of type FormGroup allowing us access to the FormGroup API’s on this local variable. We use this in the ngSubmit event where we send the value of the form via form.value -->
                          <div class="gallery">
                            <a target="_blank" href="assets/img/img_fjords.jpg">
                              <img src="assets/img/img_fjords.jpg" alt="Trolltunga Norway" width="300" height="200">
                            </a>
                            <div class="desc">Add a description of the image here</div>
                          </div>

                          <div class="gallery">
                            <a target="_blank" href="assets/img/img_forest.jpg">
                              <img src="assets/img/img_forest.jpg" alt="Forest" width="600" height="400">
                            </a>
                            <div class="desc">Add a description of the image here</div>
                          </div>

                          <div class="gallery">
                            <a target="_blank" href="assets/img/img_lights.jpg">
                              <img src="assets/img/img_lights.jpg" alt="Northern Lights" width="600" height="400">
                            </a>
                            <div class="desc">Add a description of the image here</div>
                          </div>

                          <div class="gallery">
                            <a target="_blank" href="assets/img/img_mountains.jpg">
                              <img src="assets/img/img_mountains.jpg" alt="Mountains" width="600" height="400">
                            </a>
                            <div class="desc">Add a description of the image here</div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </th>
              <th><button class="btn btn-primary">Videos <i class="fa fa-cog" aria-hidden="true"></i></button></th>
              <th><button class="btn btn-primary">View <i class="fa fa-cog" aria-hidden="true"></i></button></th>
              <th><button class="btn btn-primary">Update <i class="fa fa-cog" aria-hidden="true"></i></button></th>
              <td><button class="btn ink-reaction btn-danger">Delete <i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
              <td></td>
              <td>Doe</td>
              <td>Active</td>
              <td>Doe</td>
              <th><button class="btn btn-primary">View <i class="fa fa-cog" aria-hidden="true"></i></button></th>
              <th><button class="btn btn-primary">Update <i class="fa fa-cog" aria-hidden="true"></i></button></th>
              <td><button class="btn ink-reaction btn-danger">Delete <i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td></td>
              <td>Doe</td>
              <td>In Active</td>
              <td>Doe</td>
              <th><button class="btn btn-primary">View <i class="fa fa-cog" aria-hidden="true"></i></button></th>
              <th><button class="btn btn-primary">Update <i class="fa fa-cog" aria-hidden="true"></i></button></th>
              <td><button class="btn ink-reaction btn-danger">Delete <i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
            </tr>
          </tbody>
          <div class="col-md-6" style="margin: 20px 0;">
            <pagination [directionLinks]="false" [totalItems]="totalItems" [(ngModel)]="currentPage" (numPages)="smallnumPages = $event"></pagination>
          </div>

          <div class="col-md-6" style="margin: 20px 0;">
            <pager [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" pageBtnClass="btn" itemsPerPage="2"></pager>
          </div>
        </table>

      </div>
    </div>
    <div class="col-md-1"></div>

  </div>
</div>