<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<app-pagetop></app-pagetop>

<!--<app-side-bar></app-side-bar>-->

<div class="container-fluid fill">

  <div class="col-md-4 col-xs-2"></div>
  <div class="col-md-4 col-xs-8 center-block">

    <div class="main_box">
      <div class="col-md-12 col-xs-12 login_box" align="center">
        <div class="wrapper"><img src="https://cyber-education.az/resources/site/design/icons/admin.svg" class="img-circle" /></div>
        <h1>Welcome to Majlis</h1>
      </div>



      <div class="col-md-12 col-xs-12 login_control">
        <form (ngSubmit)="login($event)">

          <div class="control">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text" [(ngModel)]="username" name="username" class="form-control" placeholder="Username" required autofocus>

          </div>

          <div class="control">
            <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Password" required>

          </div>
          <div class="text-center">
            <button class="btn btn-green" *ngIf="btnSignin" type="submit">LOGIN</button>
          </div>
          <div class="cssload-container" *ngIf="signinMask" style="margin-top: 40px">
            <div class="cssload-whirlpool"></div>
          </div>

          <alert type="md-local" type="success" *ngIf="loginFailMsg !=''">
            <strong>Login Failed!</strong> {{loginFailMsg}}.
          </alert>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-xs-2"></div>

  






  <!--  <div class="card card-container">

    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" style="vertical-align: middle;"
    />
    <p id="profile-name" class="profile-name-card"></p>

    <form class="form-signin" (ngSubmit)="login($event)">

      <span id="reauth-email" class="reauth-email"></span>
      <input type="text" [(ngModel)]="username" name="username" id="inputEmail" class="form-control" placeholder="Username" required
        autofocus>
      <input type="password" [(ngModel)]="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
        required>
      <div id="remember" class="checkbox">

      </div>

      <button class="btn btn-lg btn-primary btn-block btn-signin" *ngIf="btnSignin" type="submit">Sign in</button>
      <div class="cssload-container" *ngIf="signinMask" style="margin-top: 40px">
        <div class="cssload-whirlpool"></div>
      </div>

      <alert type="md-local" type="success" *ngIf="loginFailMsg !=''">
        <strong>Login Failed!</strong> {{loginFailMsg}}.
      </alert>

    </form>
  </div> -->
</div>