<!--<p>
  pagetop works!
</p>-->

<nav class="navbar navbar-inverse navbar-fixed-top" style="background: #303035; border: 0px">
  <div class="container-fluid">
    <div class="navbar-header">
      <img id="profile-img" class="img-thumbnail" src="assets/img/MajlisLogo.png" style="vertical-align: middle;"/>

      
    </div>
  </div>
</nav>




<!-- >
    <div class="navbar navbar-fixed-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">World</a>
        <div class="nav-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
          </ul>
        </div>
      </div>
    </div>

    -->