<nav class="navbar navbar-inverse navbar-fixed-top" style="background: #5C6161; border: 0px">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Majlis Content Management System
      </a>
      <!--<ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/dash">Dashboard</a></li>
      </ul>
      <hr/>
      <router-outlet></router-outlet>-->
    </div>
  </div>
</nav>

<div class="container" style="position: absolute; left: 5%; top: 20%">

  <div class="card card-container">

    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>

    <form class="form-signin" (ngSubmit)="login($event)">

      <span id="reauth-email" class="reauth-email"></span>
      <input type="text" [(ngModel)]="username" name="username" id="inputEmail" class="form-control" placeholder="Username" required
        autofocus>
      <input type="password" [(ngModel)]="password" name="password" id="inputPassword" class="form-control" placeholder="Password"
        required>
      <div id="remember" class="checkbox">

      </div>
      <button class="btn btn-lg btn-primary btn-block btn-signin" *ngIf="btnSignin" type="submit">Sign in</button>
      <div class="cssload-container" *ngIf="signinMask" style="margin-top: 40px">
        <div class="cssload-whirlpool"></div>
      </div>

      <alert type="md-local" type="success" *ngIf="loginFailMsg !=''">
        <strong>Login Failed!</strong> {{loginFailMsg}}.
      </alert>
     
    </form>
    <!-- /form -->
  </div>
  <!--<router-outlet></router-outlet>-->
  <!-- /card-container -->
</div>
 
<!-- /container -->