<app-pagetop>
</app-pagetop>
<app-side-bar></app-side-bar>
<div class="container">
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-11">
      <div class="panel panel-default">
        <div class="panel-heading"><b>User Management</b></div>
        <!--<div class="container">
         <div class="row">
            <div class="col-md-4"></div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="input-group">
                <div class="text" class="form-control" placeholder="Search For">
                  <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
                </div>
              </div>
            </div>
          </div>
     </div>-->
        <br/>
        <div class="container">
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <div class="form-group has-feedback">
              <!--<label class="control-label">Username</label>-->
              <input type="text" class="form-control" placeholder="Search" #searchTerm />
              <i class="glyphicon glyphicon-user form-control-feedback"></i>
            </div>
          </div>
          <div class="col-md-2">
            <button type="button" (click)="performSearch(searchTerm)" class="btn btn-primary">Search</button>
          </div>
          <div class="col-md-2">

            <!--<button class="btn btn-default btn-block" (click)=showPrompt()>New User</button>-->
            <!--Large modal-->
            <button id="btnUser" class="btn btn-primary" (click)="lgModal.show()">Add New User</button>

            <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <!--<div class="modal-header">-->
                  <!--<h4 class="modal-title pull-left">Add New User</h4>-->
                  <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                  <!--</div>-->
                  <div class="modal-body">

                    <div class="jumbotron">
                      <b>Add New User Form</b>
                      <!-- Here we are declaring a local variable called “form” and setting it to an instance of ngForm. This is very important. Now our local form variable becomes of type FormGroup allowing us access to the FormGroup API’s on this local variable. We use this in the ngSubmit event where we send the value of the form via form.value -->
                      <form #form="ngForm" (ngSubmit)="submitForm($e)">
                        <div class="form-group">
                          <label>Title:</label>
                          <!-- Since we are working with template driven forms, we can use the ngModel directive to capture the values of our forms. One thing to note if you are coming from Angular 1.x. Using ngModel as shown below creates a one-way data binding, so once we hit submit the data is only sent to the controller. If we wanted to use two-way data binding, we would have to wrap the ngModel in [()] and assign an attribute to it. Also the name of the field corresponds to the name attribute so our first input will be firstName. -->
                          <input type="text" class="form-control" placeholder="Title" name="title" ngModel required>
                        </div>
                        <div class="form-group">
                          <label>Full Name</label>
                          <input type="text" class="form-control" placeholder="Name" name="name" ngModel required>
                        </div>
                        <div class="form-group">
                          <label>User Name</label>
                          <input type="text" class="form-control" placeholder="UserName" name="uname" ngModel required>
                        </div>

                        <!--ACTIVE-->
                        <div class="form-group">
                          <label>User Status</label>
                        </div>
                        <!-- Radio and checkboxes work much the same way -->

                        <div class="radio">
                          <label>
          <input type="radio" name="status" value="disable" ngModel>
          Disable
        </label>
                        </div>
                        <div class="radio">
                          <label>
          <input type="radio" name="status" value="enable" ngModel>
          Enable
        </label>
                        </div>
                        <!--End Active Status-->
                        <div class="form-group">
                          <label>Gender</label>

                          
                            <label for="bday" style="margin-left:320px;">Enter your birthday:</label>
                            <input type="date" id="bday" name="bday">
                          
                        </div>
                        <!-- Radio and checkboxes work much the same way -->

                        <div class="radio">
                          <label>
          <input type="radio" name="gender" value="Male" ngModel>
          Male
        </label>
                        </div>
                        <div class="radio">
                          <label>
          <input type="radio" name="gender" value="Female" ngModel>
          Female
        </label>
                        </div>

                        <!--<div class="form-group">
       <input type="text" date-picker ng-control="value" [(ng-model)]="value" />
      </div>-->
                        <!--<div class="form-group">
        <label>Catogories</label>
      </div>
      <label class="checkbox-inline">
        <input type="checkbox" value="birthday" name="birthday" ngModel> Birthday Parties
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value="religious" name="religious" ngModel> Religious Festivals
      </label>
      <label class="checkbox-inline">
        <input type="checkbox" value="other" name="other" ngModel> Other
      </label>-->

                        <div class="form-group">
                          <button type="submit" class="btn btn-default" (click)=btnUSubmit($e);>Submit</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-3"></div>
        </div>



        <div class="panel-body">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Name</th>
                <th>User Name</th>
                <th>Status</th>


              </tr>
            </thead>
            <tbody>
              <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
                <th><button class="btn btn-primary">View <i class="fa fa-cog" aria-hidden="true"></i></button></th>
                <th><button class="btn btn-primary">Update <i class="fa fa-cog" aria-hidden="true"></i></button></th>
                <td><button class="btn ink-reaction btn-danger">Delete <i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
              </tr>
              <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>Active</td>
                <th><button class="btn btn-primary">View <i class="fa fa-cog" aria-hidden="true"></i></button></th>
                <th><button class="btn btn-primary">Update <i class="fa fa-cog" aria-hidden="true"></i></button></th>
                <td><button class="btn ink-reaction btn-danger">Delete <i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
              </tr>
              <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>In Active</td>
                <th><button class="btn btn-primary">View <i class="fa fa-cog" aria-hidden="true"></i></button></th>
                <th><button class="btn btn-primary">Update <i class="fa fa-cog" aria-hidden="true"></i></button></th>
                <td><button class="btn ink-reaction btn-danger">Delete <i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
              </tr>
            </tbody>
            <div class="col-md-6" style="margin: 20px 0;">
              <pagination [directionLinks]="false" [totalItems]="totalItems" [(ngModel)]="currentPage" (numPages)="smallnumPages = $event"></pagination>
            </div>

            <div class="col-md-6" style="margin: 20px 0;">
              <pager [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" pageBtnClass="btn" itemsPerPage="10"></pager>
            </div>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>