<!--<table [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5" (mfSelectedEntities)="setSelectedEntities($event)">
    <thead>
        <tr>
            <th>
                <mfRowSelectorHead></mfRowSelectorHead>
            </th>
            <th style="width: 20%">
                <mfDefaultSorter by="name">Name</mfDefaultSorter>
            </th>
            <th style="width: 50%">
                <mfDefaultSorter by="email">Email</mfDefaultSorter>
            </th>
            <th style="width: 10%">
                <mfDefaultSorter by="age">Age</mfDefaultSorter>
            </th>
            <th style="width: 20%">
                <mfDefaultSorter by="city">City</mfDefaultSorter>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of mf.data; let ndx = index">
            <td><mfRowSelector [entity]="item" [checkboxId]="ndx"></mfRowSelector></td>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.age}}</td>
            <td>{{item.city | uppercase}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
        </tr>
    </tfoot>
</table>-->
<app-pagetop>
</app-pagetop>
<app-side-bar></app-side-bar>

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
           <div class="panel panel-default">
               <div class="panel-heading"><b>Category Management</b></div>
          <!--<table class="table table-condensed">-->
              <table class="table">
            <thead>
              <tr>
                <th>System ID</th>
                <th>Title</th>
                <th>Icon</th>
                <th>Description</th>
                <th>Status</th>
                <th>Event</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>John</td>
                <td>Doe</td>
                <td></td>
                <td>Doe</td>
                <td>Active</td>
                <td>Doe</td>
                <th><button class="btn btn-primary">View <i class="fa fa-cog" aria-hidden="true"></i></button></th>
                <th><button class="btn btn-primary">Update <i class="fa fa-cog" aria-hidden="true"></i></button></th>
                <td><button class="btn ink-reaction btn-danger">Delete <i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
              </tr>
              <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td></td>
                <td>Doe</td>
                <td>Active</td>
                <td>Doe</td>
                <th><button class="btn btn-primary">View <i class="fa fa-cog" aria-hidden="true"></i></button></th>
                <th><button class="btn btn-primary">Update <i class="fa fa-cog" aria-hidden="true"></i></button></th>
                <td><button class="btn ink-reaction btn-danger">Delete <i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
              </tr>
              <tr>
                <td>July</td>
                <td>Dooley</td>
                <td></td>
                <td>Doe</td>
                <td>In Active</td>
                <td>Doe</td>
                <th><button class="btn btn-primary">View <i class="fa fa-cog" aria-hidden="true"></i></button></th>
                <th><button class="btn btn-primary">Update <i class="fa fa-cog" aria-hidden="true"></i></button></th>
                <td><button class="btn ink-reaction btn-danger">Delete <i class="fa fa-trash-o" aria-hidden="true"></i></button></td>
              </tr>
            </tbody>
            <div class="col-md-6" style="margin: 20px 0;">
              <pagination [directionLinks]="false" [totalItems]="totalItems" [(ngModel)]="currentPage" (numPages)="smallnumPages = $event"></pagination>
            </div>

            <div class="col-md-6" style="margin: 20px 0;">
              <pager [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" pageBtnClass="btn" itemsPerPage="2"></pager>
            </div>
          </table>

        </div>
        </div>
        <div class="col-md-1"></div>
        
    </div>
</div>